# Copy to .env for local development
REACT_APP_BACKEND_URL=https://your-backend.vercel.app
REACT_APP_BACKEND_URL=https://jobhubbackend-tan.vercel.app/
REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=